# GOAL : 
## FIND THE TYPE OF CUSTOMERS WHO PURCHASE CHIPS AND THEIR PURCHASING BEHAVIOUR WITHIN THE REGION

# PART ONE

## Examine Transaction Data
1. Look for inconsistencies, missing data across the dataset, outliers, correctly identified category items, numeric data across all tables.
2. In case of identified anomalies, make necessary changes to the dataset and save it.

In [20]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import chardet
from datetime import datetime, timedelta
import psycopg2

In [21]:
# encoding used in the file
with open ("QVI_transaction_data.csv", mode='rb') as file:
    raw_bytes = file.read(5)
    detected_encoding = chardet.detect(raw_bytes)['encoding']
    print(detected_encoding)

ascii

In [22]:
# convert from ascii to utf-8
with open("QVI_transaction_data.csv", encoding='utf-8') as file:
    rows = list(csv.reader(file))
    header = rows[0]
    print(rows[:10])

[['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR', 'PROD_NAME', 'PROD_QTY', 'TOT_SALES'], ['43390', '1', '1000', '1', '5', 'Natural Chip        Compny SeaSalt175g', '2', '6'], ['43599', '1', '1307', '348', '66', 'CCs Nacho Cheese    175g', '3', '6.3'], ['43605', '1', '1343', '383', '61', 'Smiths Crinkle Cut  Chips Chicken 170g', '2', '2.9'], ['43329', '2', '2373', '974', '69', 'Smiths Chip Thinly  S/Cream&Onion 175g', '5', '15'], ['43330', '2', '2426', '1038', '108', 'Kettle Tortilla ChpsHny&Jlpno Chili 150g', '3', '13.8'], ['43604', '4', '4074', '2982', '57', 'Old El Paso Salsa   Dip Tomato Mild 300g', '1', '5.1'], ['43601', '4', '4149', '3333', '16', 'Smiths Crinkle Chips Salt & Vinegar 330g', '1', '5.7'], ['43601', '4', '4196', '3539', '24', 'Grain Waves         Sweet Chilli 210g', '1', '3.6'], ['43332', '5', '5026', '4525', '42', 'Doritos Corn Chip Mexican Jalapeno 150g', '1', '3.9']]

# INSIGHTS

1. **ASCII** encoding is used in the csv file.
2. The Date Column doers not look like a date.
3. Numbers are represented as strings. 
4. Format headers to have the correct spelling and start with uppercase only.
5. Separate quantity from product name

In [23]:
# explore the dataset
def explore_dataset(dataset,start,end,rows_columns=False):
    dataset_slice = dataset[start:end]
    for row in dataset_slice:
        print(row)
        print("\n")
    if rows_columns:
        print("There are {} rows".format(len(dataset)))
        print("There are {} columns".format(len(dataset[0])))

In [24]:
explore_dataset(rows,0,10,True)

['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR', 'PROD_NAME', 'PROD_QTY', 'TOT_SALES']


['43390', '1', '1000', '1', '5', 'Natural Chip        Compny SeaSalt175g', '2', '6']


['43599', '1', '1307', '348', '66', 'CCs Nacho Cheese    175g', '3', '6.3']


['43605', '1', '1343', '383', '61', 'Smiths Crinkle Cut  Chips Chicken 170g', '2', '2.9']


['43329', '2', '2373', '974', '69', 'Smiths Chip Thinly  S/Cream&Onion 175g', '5', '15']


['43330', '2', '2426', '1038', '108', 'Kettle Tortilla ChpsHny&Jlpno Chili 150g', '3', '13.8']


['43604', '4', '4074', '2982', '57', 'Old El Paso Salsa   Dip Tomato Mild 300g', '1', '5.1']


['43601', '4', '4149', '3333', '16', 'Smiths Crinkle Chips Salt & Vinegar 330g', '1', '5.7']


['43601', '4', '4196', '3539', '24', 'Grain Waves         Sweet Chilli 210g', '1', '3.6']


['43332', '5', '5026', '4525', '42', 'Doritos Corn Chip Mexican Jalapeno 150g', '1', '3.9']


There are 264837 rows
There are 8 columns

In [25]:
# check if there are empty sublists in our list
empty_rows =  [sublist for sublist in rows if sublist]
explore_dataset(empty_rows,0,5,True)

['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR', 'PROD_NAME', 'PROD_QTY', 'TOT_SALES']


['43390', '1', '1000', '1', '5', 'Natural Chip        Compny SeaSalt175g', '2', '6']


['43599', '1', '1307', '348', '66', 'CCs Nacho Cheese    175g', '3', '6.3']


['43605', '1', '1343', '383', '61', 'Smiths Crinkle Cut  Chips Chicken 170g', '2', '2.9']


['43329', '2', '2373', '974', '69', 'Smiths Chip Thinly  S/Cream&Onion 175g', '5', '15']


There are 264837 rows
There are 8 columns

In [26]:
# check for duplicates based on key columns
duplicate_entries = []
seen = set()

for row in rows:
#     use a tuple as a key
    key = tuple(row)
    if key in seen:
        duplicate_entries.append(row)
    else:
        seen.add(key)
# duplicate entries
duplicates = []
for duplicate in duplicate_entries:
    duplicates.append(duplicate)
    print(duplicates)
print("There are {} duplicate entries".format(len(duplicates)))

[['43374', '107', '107024', '108462', '45', 'Smiths Thinly Cut   Roast Chicken 175g', '2', '6']]
There are 1 duplicate entries

1 duplicate entry to be removed

In [27]:
# get the index of every column
col_index = {}
for i in range(len(header)):
    col_index[header[i]] = i
print(col_index)

{'DATE': 0, 'STORE_NBR': 1, 'LYLTY_CARD_NBR': 2, 'TXN_ID': 3, 'PROD_NBR': 4, 'PROD_NAME': 5, 'PROD_QTY': 6, 'TOT_SALES': 7}

In [28]:
# convert excel date to python datetime object
def excel_serial_date_to_datetime(serial_date):
    base_date = datetime(1899, 12, 31)
    delta = timedelta(days=float(serial_date))
    resulting_date = base_date + delta
    return resulting_date

def serialdate_to_datetime(rows, idx):
    for i, row in enumerate(rows):
        if i == 0:
            continue  # Skip header if present
        serial_date = row[idx]
        date = excel_serial_date_to_datetime(serial_date)
        row[idx] = date
    return rows

In [29]:
rows = serialdate_to_datetime(rows, 0)
print(rows[:5])

[['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR', 'PROD_NAME', 'PROD_QTY', 'TOT_SALES'], [datetime.datetime(2018, 10, 18, 0, 0), '1', '1000', '1', '5', 'Natural Chip        Compny SeaSalt175g', '2', '6'], [datetime.datetime(2019, 5, 15, 0, 0), '1', '1307', '348', '66', 'CCs Nacho Cheese    175g', '3', '6.3'], [datetime.datetime(2019, 5, 21, 0, 0), '1', '1343', '383', '61', 'Smiths Crinkle Cut  Chips Chicken 170g', '2', '2.9'], [datetime.datetime(2018, 8, 18, 0, 0), '2', '2373', '974', '69', 'Smiths Chip Thinly  S/Cream&Onion 175g', '5', '15']]

I will write to the csv file later, to keep permanent changes of the date column

In [30]:
# check if the data types match
def check_datatypes(rows,header):    
    # Initialize a dictionary to store the data types for each column
    column_data_types = {col: None for col in header}

    # Iterate over each row of the CSV file
    for row in rows:
        # Iterate over each column in the row
        for i, col_value in enumerate(row):
            # Check if the data type for the column has been set yet
            if not column_data_types[header[i]]:
                # If not, set the data type to the type of the current value
                column_data_types[header[i]] = type(col_value)
            else:
                # If it has been set, check if the current value has a different data type
                if column_data_types[header[i]] != type(col_value):
                    # If it does, set the data type to a generic "object" type
                    column_data_types[header[i]] = object

    # Print the data types for each column
    for col, data_type in column_data_types.items():
        print(f"{col}: {data_type.__name__}")

In [31]:
check_datatypes(rows,header)

DATE: object
STORE_NBR: str
LYLTY_CARD_NBR: str
TXN_ID: str
PROD_NBR: str
PROD_NAME: str
PROD_QTY: str
TOT_SALES: str

Columns that should be integers are represented as strings:
1. Store Number
2. Loyalty Card Number
3. Prod Number 

The Date Column will also be converted to a datetime object

In [32]:
# # change Product Name column to just the product name and create another column for Quantity in grams.
# PROD_NAME = []
# PROD_QUANTITY = []

# for row in rows:
#     products = row[5]
#     for product in products:
# #     split the string into words
#         split_product = product.rsplit(' ',1)
#         PROD_NAME.append(split_product[0])
#         PROD_QUANTITY.append(split_product[1])
# for i in range(len(PROD_NAME)):
#     print(f"Product:{PROD_NAME[i]}, Quantity:{PROD_QUANTITY[i]}")

We have created a new list of two separate columns that will be put in the csv file when writing.

In [33]:
# write to a new csv file
with open('transaction1.csv', 'w',newline='', encoding='utf-8') as newfile:
    writer = csv.writer(newfile)
    writer.writerows(rows)

In [34]:
# convert from ascii to utf-8
with open("transaction1.csv", encoding='utf-8') as file:
    rows = list(csv.reader(file))
    header = rows[0]
    print(rows[:10])

[['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR', 'PROD_NAME', 'PROD_QTY', 'TOT_SALES'], ['2018-10-18 00:00:00', '1', '1000', '1', '5', 'Natural Chip        Compny SeaSalt175g', '2', '6'], ['2019-05-15 00:00:00', '1', '1307', '348', '66', 'CCs Nacho Cheese    175g', '3', '6.3'], ['2019-05-21 00:00:00', '1', '1343', '383', '61', 'Smiths Crinkle Cut  Chips Chicken 170g', '2', '2.9'], ['2018-08-18 00:00:00', '2', '2373', '974', '69', 'Smiths Chip Thinly  S/Cream&Onion 175g', '5', '15'], ['2018-08-19 00:00:00', '2', '2426', '1038', '108', 'Kettle Tortilla ChpsHny&Jlpno Chili 150g', '3', '13.8'], ['2019-05-20 00:00:00', '4', '4074', '2982', '57', 'Old El Paso Salsa   Dip Tomato Mild 300g', '1', '5.1'], ['2019-05-17 00:00:00', '4', '4149', '3333', '16', 'Smiths Crinkle Chips Salt & Vinegar 330g', '1', '5.7'], ['2019-05-17 00:00:00', '4', '4196', '3539', '24', 'Grain Waves         Sweet Chilli 210g', '1', '3.6'], ['2018-08-21 00:00:00', '5', '5026', '4525', '42', 'Doritos Corn Chip Mexican Jalapeno 150g', '1', '3.9']]

In [35]:
# format product name substring
conn = psycopg2.connect("dbname=postgres user=postgres password=POSTGRES33")
conn.autocommit = True
cur = conn.cursor()
cur.execute("""
CREATE DATABASE transaction_db
""")
conn.autocommit = False

In [36]:
# connect to transaction_db database
conn=psycopg2.connect("dbname=transaction_db user=postgres password='POSTGRES33'")
conn.autocommit = True
cur=conn.cursor()
cur.execute("CREATE SCHEMA store")
conn.commit()

In [37]:
# loading the data from csv into table
cur.execute("""
CREATE TABLE IF NOT EXISTS store.transaction_tb (
DATE text,
STORE_NBR text,
LYLTY_CARD_NBR text,
TXN_ID text,
PROD_NBR text,
PROD_NAME text,
PROD_QTY text,
TOT_SALES text);""")        
with open("transaction1.csv","r") as file:
    cur.copy_expert("COPY store.transaction_tb FROM STDIN WITH CSV HEADER;",file)
conn.commit()

In [38]:
cur.execute(
"""
SELECT schemaname
FROM pg_catalog.pg_tables
GROUP BY schemaname
""")
schemas = cur.fetchall()
for schema in schemas:
    print(schema)

('pg_catalog',)
('information_schema',)
('store',)

In [40]:
cur.execute(
"""
SELECT tablename 
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog'
AND schemaname != 'information_schema'
""")
tables = cur.fetchall()
print(len(tables))
for table in tables:
    print(table)

1
('transaction_tb',)

In [44]:
# describing the tables
cur.execute("""
SELECT * 
FROM store.transaction_tb
LIMIT 0
""")
cur.description

(Column(name='date', type_code=25),
 Column(name='store_nbr', type_code=25),
 Column(name='lylty_card_nbr', type_code=25),
 Column(name='txn_id', type_code=25),
 Column(name='prod_nbr', type_code=25),
 Column(name='prod_name', type_code=25),
 Column(name='prod_qty', type_code=25),
 Column(name='tot_sales', type_code=25))

In [52]:
# to determine the data type represented by id 25
cur.execute("""
SELECT typname FROM pg_catalog.pg_type
WHERE oid = 25
""")
id_25 = cur.fetchone()[0]
print(id_25)

text

In [68]:
cur.execute("""
SELECT prod_name 
FROM store.transaction_tb
WHERE prod_name NOT LIKE '%g' 
AND prod_name NOT LIKE '%G'
GROUP BY 1
""")
result = cur.fetchall()
print(result)

[('Kettle 135g Swt Pot Sea Salt',)]

In [72]:
# cur.execute("""
# SELECT 
#         CONCAT_WS(' ',
#                 SUBSTRING(PROD_NAME FROM '^[^0-9]+'),
#                 SUBSTRING(PROD_NAME FROM '[0-9]+[a-zA-Z ]*$')
# )
# FROM store.transaction_tb
# GROUP BY 1
# """)
# res = cur.fetchall()
# print(res)

[('Burger Rings  220g',), ('CCs Nacho Cheese     175g',), ('CCs Original  175g',), ('CCs Tasty Cheese     175g',), ('Cheetos Chs & Bacon Balls  190g',), ('Cheetos Puffs  165g',), ('Cheezels Cheese  330g',), ('Cheezels Cheese Box  125g',), ('Cobs Popd Sea Salt  Chips  110g',), ('Cobs Popd Sour Crm  &Chives Chips  110g',), ('Cobs Popd Swt/Chlli &Sr/Cream Chips  110g',), ('Dorito Corn Chp     Supreme  380g',), ('Doritos Cheese      Supreme  330g',), ('Doritos Corn Chip Mexican Jalapeno  150g',), ('Doritos Corn Chip Southern Chicken  150g',), ('Doritos Corn Chips  Cheese Supreme  170g',), ('Doritos Corn Chips  Nacho Cheese  170g',), ('Doritos Corn Chips  Original  170g',), ('Doritos Mexicana     170g',), ('Doritos Salsa       Medium  300g',), ('Doritos Salsa Mild   300g',), ('French Fries Potato Chips  175g',), ('Grain Waves         Sweet Chilli  210g',), ('Grain Waves Sour    Cream&Chives  210G',), ('GrnWves Plus Btroot & Chilli Jam  180g',), ('Infuzions BBQ Rib   Prawn Crackers  110g',), ('Infuzions Mango     Chutny Papadums  70g',), ('Infuzions SourCream&Herbs Veg Strws  110g',), ('Infuzions Thai SweetChili PotatoMix  110g',), ('Infzns Crn Crnchers Tangy Gcamole  110g',), ('Kettle  135g Swt Pot Sea Salt',), ('Kettle Chilli  175g',), ('Kettle Honey Soy    Chicken  175g',), ('Kettle Mozzarella   Basil & Pesto  175g',), ('Kettle Original  175g',), ('Kettle Sea Salt     And Vinegar  175g',), ('Kettle Sensations   BBQ&Maple  150g',), ('Kettle Sensations   Camembert & Fig  150g',), ('Kettle Sensations   Siracha Lime  150g',), ('Kettle Sweet Chilli And Sour Cream  175g',), ('Kettle Tortilla ChpsBtroot&Ricotta  150g',), ('Kettle Tortilla ChpsFeta&Garlic  150g',), ('Kettle Tortilla ChpsHny&Jlpno Chili  150g',), ('Natural Chip        Compny SeaSalt 175g',), ('Natural Chip Co     Tmato Hrb&Spce  175g',), ('Natural ChipCo      Hony Soy Chckn 175g',), ('Natural ChipCo Sea  Salt & Vinegr  175g',), ('NCC Sour Cream &    Garden Chives  175g',), ('Old El Paso Salsa   Dip Chnky Tom Ht 300g',), ('Old El Paso Salsa   Dip Tomato Med  300g',), ('Old El Paso Salsa   Dip Tomato Mild  300g',), ('Pringles Barbeque    134g',), ('Pringles Chicken    Salt Crips  134g',), ('Pringles Mystery    Flavour  134g',), ('Pringles Original   Crisps  134g',), ('Pringles Slt Vingar  134g',), ('Pringles SourCream  Onion  134g',), ('Pringles Sthrn FriedChicken  134g',), ('Pringles Sweet&Spcy BBQ  134g',), ('Red Rock Deli Chikn&Garlic Aioli  150g',), ('Red Rock Deli Sp    Salt & Truffle  150G',), ('Red Rock Deli SR    Salsa & Mzzrlla  150g',), ('Red Rock Deli Thai  Chilli&Lime  150g',), ('RRD Chilli&         Coconut  150g',), ('RRD Honey Soy       Chicken  165g',), ('RRD Lime & Pepper    165g',), ('RRD Pc Sea Salt      165g',), ('RRD Salt & Vinegar   165g',), ('RRD SR Slow Rst     Pork Belly  150g',), ('RRD Steak &         Chimuchurri  150g',), ('RRD Sweet Chilli &  Sour Cream  165g',), ('Smith Crinkle Cut   Bolognese  150g',), ('Smith Crinkle Cut   Mac N Cheese  150g',), ('Smiths Chip Thinly  Cut Original  175g',), ('Smiths Chip Thinly  CutSalt/Vinegr 175g',), ('Smiths Chip Thinly  S/Cream&Onion  175g',), ('Smiths Crinkle      Original  330g',), ('Smiths Crinkle Chips Salt & Vinegar  330g',), ('Smiths Crinkle Cut  Chips Barbecue  170g',), ('Smiths Crinkle Cut  Chips Chicken  170g',), ('Smiths Crinkle Cut  Chips Chs&Onion 170g',), ('Smiths Crinkle Cut  Chips Original  170g',), ('Smiths Crinkle Cut  French OnionDip  150g',), ('Smiths Crinkle Cut  Salt & Vinegar  170g',), ('Smiths Crinkle Cut  Snag&Sauce  150g',), ('Smiths Crinkle Cut  Tomato Salsa  150g',), ('Smiths Crnkle Chip  Orgnl Big Bag  380g',), ('Smiths Thinly       Swt Chli&S/Cream 175G',), ('Smiths Thinly Cut   Roast Chicken  175g',), ('Snbts Whlgrn Crisps Cheddr&Mstrd  90g',), ('Sunbites Whlegrn    Crisps Frch/Onin  90g',), ('Thins Chips         Originl saltd  175g',), ('Thins Chips Light&  Tangy  175g',), ('Thins Chips Salt &  Vinegar  175g',), ('Thins Chips Seasonedchicken  175g',), ('Thins Potato Chips  Hot & Spicy  175g',), ('Tostitos Lightly    Salted  175g',), ('Tostitos Smoked     Chipotle  175g',), ('Tostitos Splash Of  Lime  175g',), ('Twisties Cheese      270g',), ('Twisties Cheese     Burger  250g',), ('Twisties Chicken 270g',), ('Tyrrells Crisps     Ched & Chives  165g',), ('Tyrrells Crisps     Lightly Salted  165g',), ('Woolworths Cheese   Rings  190g',), ('Woolworths Medium   Salsa  300g',), ('Woolworths Mild     Salsa  300g',), ('WW Crinkle Cut      Chicken  175g',), ('WW Crinkle Cut      Original  175g',), ('WW D/Style Chip     Sea Salt  200g',), ('WW Original Corn    Chips  200g',), ('WW Original Stacked Chips  160g',), ('WW Sour Cream &OnionStacked Chips  160g',), ('WW Supreme Cheese   Corn Chips  200g',)]

In [51]:
# our column are of data so there is need to change their datatypes
# check how many common phrases there are in prod_name
# with open('transaction1.csv','r') as f:
#     next(f)
#     reader = csv.reader(f)
#     unique_words_in_prod_name = set()
#     for row in reader:
#         prod_name = row[-3]
#         unique_words_in_prod_name.add(prod_name)
#     len_words = []
#     for s in unique_words_in_prod_name:
#         len_words.append(len(s))
#     print(max(len_words))

1. Datatypes are not right.
2. Only one entry has data not like %g or %G
3. Need to change %G to %g 
4. Separate product name from quantity of the product